<!-- <div class="bg-image  mb-5 " style="background: linear-gradient( #ff9a9e, #fad0c4) "> -->
<h6 *ngIf="u_name != null" class="text-white" align="left">Welcome {{u_name}},</h6>

<!-- modal for upload -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleFile}" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                    <h4 class="modal-title">Share</h4>
                </div> -->
            <app-upload-file></app-upload-file>
            <!-- <div class="modal-body">
                    <div class="col-8 offset-2">
                        <div class="d-flex  justify-content-between">
                            <button type="button" class="btn btn-info w-100" (click)="onVideoPost()">Video</button>
                            <span> </span>
                            <button type="button" class="btn btn-warning w-100">Image</button>
                        </div>
                    </div>
                </div> -->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger btn-sm" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- upload end -->




<section>
    <div class="container">
        <div class="row py-1 ">
            <div class="col-lg-6 offset-lg-3">
                <div class="">
                    <button type="button" class="btn btn-secondary btn-warning w-100" (click)="openPopup()">
                        <strong class="text-white" style=" font-size:xx-large">Share Your Post</strong></button>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- share psot -->

<section class="profile-feed" *ngFor="let data of userData.reverse() | paginate: config;let index = index; ">
    <div class="container">
        <app-post [onepost]=data [username]="usernameList[index]" [time]="timediff[index]"></app-post>

    </div>


</section>
<pagination-controls style=" float:right" (pageChange)="pageChanged($event)"></pagination-controls>